.all {
    padding-bottom: 1rem;
  }
  .header {
    text-align: center;
    padding: 2rem;
  }
  
  .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
  .boxBoxes {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    height: 42rem;
    border: solid 1px black;
    border-radius: 1rem;
    background-color: #fff;
  }
  .boxBoxes img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30rem;
    width: 20rem;
    margin: 10px;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .boxBoxes img:hover {
    transform: scale(1.2);
  }
  
  .centerBox {
    display: flex;
    justify-content: space-evenly;
  }
  