.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}

.aboutBox {
  padding-top: 20rem;
  text-align: center ;
  width: 50vw;
  height: 100vh ;
  max-height: 80%;
}
