.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh ;
  max-height: 80%;
  overflow: hidden;
}

.aboutBox {
  text-align: center ;
  width: 50vw;
 
}

.btn{
  padding-top: 5rem;
}
