.flex {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    max-height: 80%;
    /* overflow: hidden; */
    
  }
  .box {
    padding-top: 10rem;
    text-align: center ;
  }

  .btn {
    padding-top: 5rem;
  }

  