.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

.img {
  background-image: url(../img/warzywa.jpg);
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.flex p {
  margin-bottom: 10rem;
}

.flex h1 {
  position: relative;
  padding: 1rem;
  min-height: 4rem;
  
}

.animationBox {
  min-height: 5rem;
}

.orderAnimation {
  animation-name: order;
  animation-duration: 1s;
  transition-property: font-size;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes order {
  from {
    font-size: 8px;
  }
  to {
    font-size: 40px;
  }
}
