.flex {

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  max-height: 80%;
  overflow: hidden;
}

.aboutBox {
  text-align: center;
  width: 50vw;
}



