.box {
  margin-top: 1rem;
  width: 100vw;
  max-width: 100%;
  height: 15rem;
  max-height: 15rem;
  background-image: url('../img/warzywatlo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 
  z-index: 0;
  
}
.box p , span {
  font-size: 18px;
}
.shadow {
 display: flex;
 justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: -10;
}

.txt {
    text-align: center;
    width: 60vw;
    color: #f2f2f2;
}