.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: dark;
  color: black;
}
.box ul {
    list-style: none;
    color:black;
}
.box li {
    text-decoration: none;
    color: black;
}
.box a {
    color: black;
}

.color {
  color: black;
}
