.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  width: 100vw;
  max-width: 100%;
  background-color: #3a751b;
  color: black;
}

.box a {
  margin: .5rem;
  text-decoration: none;
  cursor: pointer;
}
.box a:hover {
  color: black;
}

.icons {
  padding: .8rem;
  font-size: 28px;
  color: black;
}

.icons:hover {
  color: #f2f2f2f2;
}

