.inst {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
  padding: 2rem;
}

.instBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  margin-top: 10rem;
  width: 20rem;
  height: 20rem;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a751b;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.img {
  font-size: 2rem;
  color: #f2f2f2;
}
.inst p {
  font-size: 24px;
  font-weight: 700;
}

.inst span {
  font-size: 16px;
}

.box {
 
  animation: box 0.6s ease-in-out forwards;
}

.box2 {
  animation: box2 .6s ease-in-out .6s forwards;
}
.box3 {
  animation: box3 .6s ease-in-out 1.2s forwards;
}

@keyframes box  {
 
 from {
  transform: scaleX(0);
 }
 to{
  transform: scaleX(100%);
 }


}
@keyframes box2 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }



}
@keyframes box3 {
 
 from {
  transform: scaleX(0);
 }
 to{
  transform: scaleX(100%);
 }


}
